{% extends "badger/base.html" %}

{% set user = award.user %}

{% block pageid %}award_detail{% endblock %}

{% block extrahead %}
    <link rel="alternate" type="application/json"
        title="{{ _('{title} (JSON)') | f(title=award) }}"
        href="{{ request.build_absolute_uri(url('badger.award_detail_json', badge.slug, award.pk)) }}" />
{% endblock %}

{% block content %}
<section class="row-fluid">

    <section class="award span4">
        <header class="page-header">
            <h2>{{ _('Award detail') }}</h2>
        </header>
        {% include "badger/includes/award_full.html" %}
        {% if award.user == request.user %}
            <form class="obi_issuer">
                <button class="btn issue">{{_("Add this badge to your Open Badge Backpack")}}</button>
            </form>
        {% endif %}
    </section>

    <section class="badge span8">
        <header class="page-header">
            <h2 class="badge-title">{{ _("Badge: {badge_title}") | f(badge_title=badge.title) }}</h2>
        </header>
        {% include "badger/includes/badge_full.html" %}
    </section>

</section>

{% endblock %}

{% block js %}
    <script type="text/javascript"
        src="{{ settings.OBI_BASE_URL }}issuer.js"></script>
{% endblock %}
