{% extends "badger/base.html" %}

{% block pageid %}badge_award{% endblock %}

{% block content %}

<section class="row-fluid">

    <section class="span4" id="detail">
        <header class="page-header">
            <h2>{{ _("Badge: {badge_title}") | f(badge_title=badge.title) }}</h2>
        </header>
        {% include "badger/includes/badge_full.html" %}
    </section>

    <section class="span8">
        <header class="page-header">
            <h2>{{ _("Issue badge awards") }}</h2>
        </header>

        <form id="award_badge" method="POST" action="" enctype="multipart/form-data">
            {{ csrf() }}
            <ul>
                {{ form.as_ul() }}
                <li><input type="submit" class="btn btn-large btn-primary submit" value="{{ _("Issue badge awards") }}"></li>
            </ul>
        </form>
    </section>

</section>
{% endblock %}
