{% extends "badger/base.html" %}

{% block pageid %}badge_award{% endblock %}

{% block content %}

<section class="row-fluid">

    <section class="span3">
        <header class="page-header">
            <h2>{{ _("Issue an award") }}</h2>
        </header>

        <form id="award_badge" method="POST" action="">
            {{ csrf() }}
            <ul>
                {{ form.as_ul() }}
                <li><input type="submit" class="submit" value="{{ _("Award") }}"></li>
            </ul>
        </form>
    </section>

    <section class="span9" id="detail">
        <header class="page-header">
            <h2>{{ _('Badge') }}</h2>
        </header>
        {% include "badger/includes/badge_full.html" %}
    </section>

</section>
{% endblock %}
