{% extends "badger/base.html" %}

{% block pageid %}claim_badge{% endblock %}

{% block content %}

<section class="row-fluid">

    <section class="span4" id="detail">
        <header class="page-header">
            <h2>{{ _("Badge: {badge_title}") | f(badge_title=badge.title) }}</h2>
        </header>
        {% include "badger/includes/badge_full.html" %}
    </section>

    <section class="span8">
    
        <header class="page-header">
            <h2>{{ _("Award Claim") }}</h2>
        </header>

        <dl class="details">
            {% if deferred_award.email %}
                <dt>Email address:</dt>
                    <dd><code class="email">{{ deferred_award.email }}</code></dd>
            {% endif %}
            <dt>Claim code:</dt>
                <dd><code>{{ deferred_award.claim_code }}</code></dd>
        </dl>

        {% if user.is_anonymous() %}
            <div>
                <h3>{{ _("Claim") }}</h3>
                <p>{{ _("Sign in to claim this badge award") }}</p>
                <form class="browserid" action="{{url('browserid_verify')}}" method="POST">
                    {{ csrf() }}
                    <input type="hidden" name="next" value="{{ request.build_absolute_uri() }}" />
                    {{ browserid_form.as_p()|safe }}
                    <a href="#" class="browserid-signin" title="{{_('Sign In with BrowserID')}}"><img src="{{MEDIA_URL}}img/sign_in_blue.png" /></a>
                </form>
            </div>
        {% endif %}

        {% if deferred_award.allows_grant_by(request.user) %}
            <form id="grant_award" method="POST" action="">
                <input type="hidden" name="is_grant" value="1" />
                {{ csrf() }}
                <h3>{{ _("Grant") }}</h3>
                <p>{{ _("You can grant this award to someone else") }}
                {{ grant_form.as_p() }}
                <input type="submit" class="btn btn-large btn-primary submit" value="{{ _("Grant this award") }}">
            </form>
        {% endif %}

        {% if deferred_award.allows_claim_by(request.user) %}
        {% set email_mismatch = (deferred_award.email and request.user.email != deferred_award.email) %}
        <form id="claim_award" method="POST" action="" class="{{ email_mismatch and 'email-mismatch ' or '' }}">
            {{ csrf() }}
            <h3>{{ _("Claim") }}</h3>
            {% if email_mismatch %}
                {# This isn't enforced, since an awardee might have multiple email addresses #}
                {% trans %}
                <p><span class="label label-warning">Note:</span>
                    <em>This award may not be intended for you.</em>
                    Your email address does not match this award claim.
                </p>
                {% endtrans %}
            {% else %}
                <p>{{ _("You can claim this award for yourself") }}</p>
            {% endif %}
            <input type="submit" class="btn btn-large btn-primary submit" value="{{ _("Claim this award") }}">
        </form>
        {% endif %}

    </section>

</section>

{% endblock %}
