{% extends "badger/base.html" %}

{% block pageid %}home{% endblock %}

{% block extrahead %}
    <link rel="alternate" type="application/atom+xml"
        title="{{ _('Recently awarded badges') }}"
        href="{{ url('badger.feeds.awards_recent', 'atom') }}" />
    <link rel="alternate" type="application/atom+xml"
        title="{{ _('Recently created badges') }}"
        href="{{ url('badger_multiplayer.feeds.badges_recent', 'atom') }}" />
{% endblock %}

{% block content %}
<section class="row-fluid">

    <section id="recent_badges" class="span5 item_flow">
        <header class="page-header">
            <h2>
                <span>{{ _("Recent badges") }}</span>
                <small>(
                    {% if request.user.is_authenticated() %}
                        <a class="action" href="{{ url('badger_multiplayer.views.create') }}">{{ _("New") }}</a>,
                    {% endif %}
                    <a href="{{ url('badger.views.badges_list') }}">{{ _("More...") }}</a>
                    <a href="{{ url('badger_multiplayer.feeds.badges_recent', 'atom') }}"><img alt="{{ _("Atom feed") }}" src="{{MEDIA_URL}}/img/feed-icon-14x14.png" /></a>
                )</small>
            </h2>
        </header>
        {% include "badger/includes/badges_list.html" %}
    </section>

    <section id="recent_awards" class="span7 item_flow">
        <header class="page-header">
            <h2>
                <span>{{ _("Recent awards") }}</span>
                <small>(
                    <a href="{{ url('badger.views.awards_list') }}">{{ _("More...") }}</a>
                    <a href="{{ url('badger.feeds.awards_recent', 'atom') }}"><img alt="{{ _("Atom feed") }}" src="{{MEDIA_URL}}/img/feed-icon-14x14.png" /></a>
                )</small>
            </h2>
        </header>
        {% include "badger/includes/awards_list.html" %}
    </section>

</section>
{% endblock %}
