{% extends "badger/base.html" %}

{% block pageid %}home{% endblock %}

{% block extrahead %}
    <link rel="alternate" type="application/atom+xml"
        title="{{ _('Recently awarded badges') }}"
        href="{{ url('badger.feeds.awards_recent', 'atom') }}" />
    <link rel="alternate" type="application/atom+xml"
        title="{{ _('Recently created badges') }}"
        href="{{ url('badger.feeds.badges_recent', 'atom') }}" />
{% endblock %}

{% block content %}

<section class="home-intro hero-unit">
    <h1><span>{{ _("Welcome to {site_title}!") | f(site_title=settings.SITE_TITLE) }}</span></h1>

    <div class="row-fluid">

        <section class="item span4">
            <section class="blurb">
                <p>This is an experimental service
                    for <a href="http://decafbad.com/2010/07/badger-article/">badges</a>,
                    powered by <a href="https://github.com/lmorchard/django-badger">Open&nbsp;Source</a>.
                    Check <a href="https://github.com/lmorchard/badg.us/wiki/FAQ">the FAQ</a>!
                    Submit <a href="http://goo.gl/mod/Umab">suggestions</a>!
                </p>
            </section>
            <section class="action">
                {% if request.user.is_authenticated() %}
                    <p><a class="action btn btn-info btn-large" href="{{ request.user.get_absolute_url() }}">{{ _("☺  View your profile") }}</a></p>
                {% else %}
                    {% block signin %}
                    <form class="browserid" action="{{url('browserid_verify')}}" method="POST">
                        {{ csrf() }}
                        {% set next = request.GET.get('next', False) %}
                        {% if next %}
                            <input type="hidden" name="next" value="{{ next }}" />
                        {% else %}
                            <input type="hidden" name="next" value="{{ request.build_absolute_uri() }}" />
                        {% endif %}
                        {{ browserid_form.as_p()|safe }}
                        <a href="#" class="browserid-signin" title="{{_('Sign In with BrowserID')}}"><img src="{{MEDIA_URL}}img/sign_in_blue.png" /></a>
                    </form>
                    {% endblock %}
                {% endif %}
            </section>
        </section>

        <section class="item span4">
            <section class="blurb">
                <h3>{{ _("Have a claim code?") }}</h3>
                <p>{{ _("Type it here to claim your badge:") }}</p>
            </section>
            <section class="action">
                <form class="claim" method="POST" action="{{ url('badger.views.claim_deferred_award') }}">
                    {{ csrf() }}
                    <input type="text" size="16" class="text-input claim-code" 
                           name="code" id="intro_code" 
                           placeholder="enter claim code" 
                           value="{{ request.GET.get('code','') }}" />
                    <input type="submit" class="action btn btn-success btn-large" value="{{ _('Claim award from code') }}" />
                </form>
            </section>
        </section>

        <section class="item span4">
            <section class="blurb">
                <h3>{{ _("Have an idea for a badge?") }}</h3>
                <p>{{ _("Click here to start:") }}</p>
            </section>
            <section class="action">
                <p><a class="action btn btn-primary btn-large" href="{{ url('badger.views.create') }}">{{ _("✸ Create a new badge") }}</a></p>
            </section>
        </section>

    </div>
</section>

{% if badge_tags %}
<section class="row-fluid">
    <section class="span12">
        <ul class="tags top_tags">
            {% for item in badge_tags %}
                <li><a class="tag" href="{{ url('badger.badges_list', tag_name=item.tag.name) }}"><i class="icon-tag icon-white"></i> {{ item.tag.name }} <span class="count">{{ item.count }}</span></a></li>
            {% endfor %}
        </ul>
    </section>
</section>
{% endif %}

<section class="row-fluid">

    <section id="recent_badges" class="span5 item_flow">
        <header class="page-header">
            <h2>
                <span>{{ _("Recently created badges") }}</span>
                <small>
                    <a href="{{ url('badger.views.badges_list') }}">{{ _("More...") }}</a>
                    <a href="{{ url('badger.feeds.badges_recent', 'atom') }}"><img alt="{{ _("Atom feed") }}" src="{{MEDIA_URL}}/img/feed-icon-14x14.png" /></a>
                </small>
            </h2>
        </header>

        {% set badge_list = badge_list[:12] %}
        {% include "badger/includes/badges_list.html" %}
    </section>

    <section id="recent_awards" class="span7 item_flow">
        <header class="page-header">
            <h2>
                <span>{{ _("Recently awarded badges") }}</span>
                <small>
                    <a href="{{ url('badger.views.awards_list') }}">{{ _("More...") }}</a>
                    <a href="{{ url('badger.feeds.awards_recent', 'atom') }}"><img alt="{{ _("Atom feed") }}" src="{{MEDIA_URL}}/img/feed-icon-14x14.png" /></a>
                </small>
            </h2>
        </header>
        {% set award_list = award_list[:9] %}
        {% include "badger/includes/awards_list.html" %}
    </section>

</section>
{% endblock %}
