{% extends "badger/base.html" %}

{% block pageid %}badge_awards_by_user{% endblock %}

{% block extrahead %}
    <link rel="alternate" type="application/atom+xml"
        title="{{ _('Recent awards') }}"
        href="{{ url('badger.feeds.awards_by_user', 'atom', user.username) }}" />
{% endblock %}

{% block content %}
<h2>Awards for {{user}}</h2>

<ul class="awards">
    {% for award in awards %}
    <li>
        {% include "badger/includes/award_as_badge.html" %}
    </li>
    {% endfor %}
</ul>
{% endblock %}
