{% load badger_tags %}

<dl class="badge" data-slug="{{ badge.slug }}">
    <dt>Title:</dt>
        <dd class="title">{{ badge.title }}</dd>
    {% if award and award.image %}
        <dt>Image:</dt>
            <dd class="image"><a href="{{ badge.get_absolute_url }}" class="image"><img src="{{ award.image.url }}" width="256" height="256" /></a></dd>
    {% else %}
        {% if badge.image %}
        <dt>Image:</dt>
            <dd class="image"><a href="{{ badge.get_absolute_url }}" class="image"><img src="{{ badge.image.url }}" width="256" height="256" /></a></dd>
        {% endif %}
    {% endif %}
    {% if badge.description %}
        <dt>Description:</dt>
            <dd class="description">{{ badge.description }}</dd>
    {% endif %}
    <dt>Creator:</dt>
        <dd><a href="{{ badge.creator.get_absolute_url }}">{{ badge.creator }}</a></dd>
    <dt>Created:</dt>
        <dd>{{ badge.created }}</dd>
    <dt>Modified:</dt>
        <dd>{{ badge.modified }}</dd>
    <dt>Actions:</dt>
    <dd><ul>
        {% user_award_list badge request.user %}

    </ul></dd>
</dl>