<dl class="badge" data-slug="{{ badge.slug }}">
    {% if badge_show_title %}
        <dt>{{_("Title:")}}</dt>
            <dd class="title"><strong>{{ badge.title }}</strong></dd>
    {% endif %}
    {% if award and award.image %}
        <dt>{{_("Image:")}}</dt>
            <dd class="image"><a href="{{ badge.get_absolute_url() }}" class="image"><img src="{{ award.image.url }}" width="256" height="256" /></a></dd>
    {% elif badge.image %}
        <dt>{{_("Image:")}}</dt>
            <dd class="image"><a href="{{ badge.get_absolute_url() }}" class="image"><img src="{{ badge.image.url }}" width="256" height="256" /></a></dd>
    {% endif %}
    {% if badge.tags and badge.tags.count %}
        <dt>{{ _("Tags:") }}</dt>
        <dd><ul class="tags">
            {% for tag in badge.tags.all() %}
                <li><a class="tag" href="{{ url('badger.badges_list', tag_name=tag.name) }}">{{ tag.name }}</a></li>
            {% endfor %}
        </ul></dd>
    {% endif %}
    <dt>{{_("Actions:")}}</dt>
    <dd class="actions"><ul class="btn-list">
        {# TODO: Can this be done extensibly? with a registry? #}
        {% set modules = [ "badger_multiplayer" ] %}
        {% for module in modules %}
            {% include module ~ "/includes/badge_full_actions.html" %}
        {% endfor %}
        {% if badge.allows_award_to(request.user) %}
            <li><a class="btn btn-large btn-primary award_badge" href="{{ url('badger.views.award_badge', badge.slug) }}">{{ _('Issue awards') }}</a></li>
        {% endif %}
        {% if badge.allows_manage_deferred_awards_by(request.user) %}
            <li><a class="btn btn-large btn-primary manage_claims" href="{{ url('badger.views.manage_claims', badge.slug) }}">{{ _('Manage claim codes') }}</a></li>
        {% endif %}
    </ul></dd>
    {% if badge.description %}
        <dt>{{_("Description:")}}</dt>
            <dd class="description">{{ badge.description }}</dd>
    {% endif %}
    <dt>{{_("Creator:")}}</dt>
        <dd><a href="{{ badge.creator.get_absolute_url() }}"><img src="{{ user_avatar(badge.creator) }}" class="avatar" alt="{{ badge.creator }}" width="28" height="28" />{{ badge.creator }}</a></dd>
    <dt>{{_("Created:")}}</dt>
        <dd>{{ badge.created }}</dd>
    <dt>{{_("Modified:")}}</dt>
        <dd>{{ badge.modified }}</dd>
</dl>
