{% if award and award.image %}
    {% set image_url = award.image.url %}
{% elif badge.image %}
    {% set image_url = badge.image.url %}
{% else %}
    {# TODO: Put the URL for default badge image in settings #}
    {% set image_url = "/media/img/default-badge.png" %}
{% endif %}
{% if not award %}
<ul class="btn-list">
    {% if badge.allows_edit_by(request.user) %}
        <li><a class="btn btn-large btn-primary edit_badge" href="{{ url('badger.views.edit', badge.slug) }}">{{ _('Edit badge') }}</a></li>
    {% endif %}
    {% if badge.allows_delete_by(request.user) %}
        <li><a class="btn btn-large btn-danger delete_badge" href="{{ url('badger.views.delete', badge.slug) }}">{{ _('Delete badge') }}</a></li>
    {% endif %}
</ul>
{% endif %}
<dl class="badge" data-slug="{{ badge.slug }}">
    {% if badge_show_title %}
        <dt>{{_("Title:")}}</dt>
            <dd class="title"><strong>{{ badge.title }}</strong></dd>
    {% endif %}
    <dt>{{_("Image:")}}</dt>
        <dd class="image"><a href="{{ badge.get_absolute_url() }}" class="image"><img src="{{ image_url }}" width="256" height="256" /></a></dd>
    {% if badge.description %}
        <dt>{{_("Description:")}}</dt>
            <dd class="description">{{ badge.description }}</dd>
    {% endif %}
    {% if badge.tags and badge.tags.count() %}
        <dt>{{ _("Tags:") }}</dt>
        <dd><ul class="tags">
            {% for tag in badge.tags.all() %}
                <li><a class="tag" href="{{ url('badger.badges_list', tag_name=tag.name) }}"><i class="icon-tag icon-white"></i> {{ tag.name }}</a></li>
            {% endfor %}
        </ul></dd>
    {% endif %}
    <dt>{{_("Creator:")}}</dt>
        <dd><a href="{{ badge.creator.get_absolute_url() }}"><img src="{{ user_avatar(badge.creator) }}" class="avatar" alt="{{ badge.creator }}" width="28" height="28" />{{ badge.creator }}</a></dd>
    <dt>{{_("Created:")}}</dt>
        <dd>{{ badge.created }}</dd>
    <dt>{{_("Modified:")}}</dt>
        <dd>{{ badge.modified }}</dd>
</dl>
