{% if badge.allows_nominate_for(request.user) %}
    <section>
        <header class="page-header">
            <h2>{{ _("Submit nominations by email") }}</h2>
        </header>
        <form id="award_badge" method="POST"
              action="{{ url('badger_multiplayer.views.nominate_for', slug=badge.slug) }}">
            {{ csrf() }}
            <ul>
                {{ sections.nominate.form.as_ul() }}
                <li><input type="submit" class="btn btn-large btn-primary submit" value="{{ _("Submit nominations") }}"></li>
            </ul>
        </form>
    </section>
{% endif %}
