{% extends "badger/base.html" %}

{% load i18n %}
{% load badger_tags %}

{% block pageid %}award_delete{% endblock %}

{% block content %}
<header class="page-header">
    <h2>{{ _("Delete Award") }}</h2>
</header>
<section class="row-fluid">

    <section class="badge span4">
        {% include "badger/includes/badge_full.html" %}
    </section>

    <section class="award span8">

        <form id="delete_award" method="POST" action="" enctype="multipart/form-data">
            {{ csrf }}
            <p><strong>{{ _("Delete this award, are you sure?") }}</strong></p>
            <ul>
                <li><input type="submit" class="btn btn-large btn-danger submit" value="{{ _("Yes, delete award") }}"></li>
            </ul>
        </form>

        {% include "badger/includes/award_full.html" %}
    </section>

</section>
{% endblock %}
